@font-face {
  font-family: "iconfont";
  src: url('iconfont.eot?t=d73fffc34092f5ad543dd077374bf577'); /* IE9 */
  src: url('iconfont.eot?t=d73fffc34092f5ad543dd077374bf577#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=d73fffc34092f5ad543dd077374bf577') format('woff2'),
  url('iconfont.woff?t=d73fffc34092f5ad543dd077374bf577') format('woff'), /* chrome、firefox */
  url('iconfont.ttf?t=d73fffc34092f5ad543dd077374bf577') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=d73fffc34092f5ad543dd077374bf577#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
  content: "\e001";
}
.icon-logo-white:before {
  content: "\e002";
}
.icon-resourcemanage:before {
  content: "\e003";
}
.icon-notification:before {
  content: "\e004";
}
.icon-safemanage:before {
  content: "\e005";
}
.icon-apps-manage:before {
  content: "\e007";
}
.icon-certificationmanage:before {
  content: "\e009";
}
.icon-middleware:before {
  content: "\e00a";
}
.icon-task:before {
  content: "\e00c";
}
.icon-servicemesh:before {
  content: "\e00d";
}
.icon-clustermanage:before {
  content: "\e00e";
}
.icon-audit:before {
  content: "\e00f";
}
.icon-diagnostics-line:before {
  content: "\e018";
}
.icon-update-line:before {
  content: "\e019";
}
.icon-close-line:before {
  content: "\e01a";
}
.icon-arrow-down-s-line:before {
  content: "\e01b";
}
.icon-delete-line:before {
  content: "\e01c";
}
.icon-arrow-right-circle-fill:before {
  content: "\e01d";
}
.icon-warning:before {
  content: "\e01e";
}
.icon-checkbox-circle-fill:before {
  content: "\e01f";
}
.icon-checkbox-circle-fill2:before {
  content: "\e020";
}
.icon-indeterminate-circle-fill:before {
  content: "\e021";
}
.icon-up:before {
  content: "\e022";
}
.icon-refresh-fill:before {
  content: "\e023";
}
.icon-deployment_select:before {
  content: "\e024";
}
.icon-deployment_normal:before {
  content: "\e025";
}
.icon-node_normal:before {
  content: "\e026";
}
.icon-node_select:before {
  content: "\e027";
}
.icon-namespace_select:before {
  content: "\e028";
}
.icon-pod_normal:before {
  content: "\e029";
}
.icon-pod_select:before {
  content: "\e02a";
}
.icon-namespace_normal:before {
  content: "\e02b";
}
.icon-changeplatform_hover:before {
  content: "\e030";
}
.icon-changeplatform:before {
  content: "\e031";
}
.icon-indent-decrease:before {
  content: "\e032";
}
.icon-indent-increase:before {
  content: "\e033";
}
.icon-xzpt:before {
  content: "\e034";
}
.icon-kubeoperator:before {
  content: "\e035";
}
.icon-develop:before {
  content: "\e036";
}
.icon-CICD:before {
  content: "\e037";
}
.icon-eye-off:before {
  content: "\e038";
}
.icon-copy:before {
  content: "\e039";
}
.icon-eye-open:before {
  content: "\e03a";
}
.icon-safe-warning:before {
  content: "\e03b";
}
