/* Element 变量 */
$--color-primary: #5354bb;
$--color-success: #36B37E;
$--color-warning: #F59326;
$--color-danger: #CF0A1E;
$--color-info: #0A59CC ;
$--color-ko: #9393E0;

$--box-shadow-light: 0 1px 4px 0 rgba(0, 0, 0, .14);

$--color-text-primary: #2C2E33;

/* layout */
$layout-bg-color: #F2F2F2;

/* sidebar */
$sidebar-open-width: 200px;
$sidebar-close-width: 60px;
$sidebar-bg-color: #30373d;
$sidebar-bg-gradient: linear-gradient(to bottom right, #30373D, #3E3E3D);

/* menu */
$menu-height: 50px; // 菜单项高度
$menu-bg-color: transparent; // 菜单项背景
$menu-bg-color-hover: #2c3354; // 菜单项hover背景
$menu-color: #B6C0CD; // 菜单项字体颜色
$menu-open-bg-color: #252B2F; // 菜单项展开背景
$menu-active-color: #FFF; // 菜单项激活时颜色
$menu-active-bg-color: #5354bb; // 菜单项激活时背景

$submenu-height: 40px; // 子菜单项高度
$submenu-bg-color-hover: mix($menu-open-bg-color, #000, 80%); // 子菜单项hover背景
$submenu-active-color: $menu-active-color; // 子菜单项激活时颜色
$submenu-active-bg-color: transparent; // 子菜单项激活时背景

$menu-active-prefix-color: $--color-ko; // 菜单激活前缀颜色
$menu-active-prefix-width: 4px; // 菜单激活前缀宽度

/* logo */
$logo-height: 27px;
$logo-bg-color: #4E5051;

/* header */
$header-height: 60px;
$header-padding: 30px;

/* main */
$view-padding: 15px;

/* fit2cloud-ui的variables加载了element-ui的变量 */
@import "~fit2cloud-ui/src/styles/common/variables";

:export {
  theme: $--color-primary;
}

#nprogress .bar {
  background:#5354BB !important; //自定义颜色
}

//.statusFailed {
//  color: #0033FF;
//  text-decoration: underline;
//}

.koLink {
  color: #0A59CC;
  text-decoration: underline;
}

.linkStyle {
  color: #0A59CC;
}





