/* 存放样式变量 */

@font-face {
  font-family: "PingFang Bold";
  src: url("./PingFang Bold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PingFang Light";
  src: url("./PingFang Light.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PingFang Medium";
  src: url("./PingFang Medium.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PingFang Regular";
  src: url("./PingFang Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DIN";
  src: url("./DIN.ttf");
  font-weight: normal;
  font-style: normal;
}